*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", serif;
}

:root {
	--hue: 200;
	--saturation: 50%;

	--bg: hsl(var(--hue), var(--saturation), 95%);
	--text: hsl(var(--hue), var(--saturation), 0%);

	--calculator_bg: hsl(var(--hue), var(--saturation), 90%);

	--display-bg: hsl(var(--hue), var(--saturation), 100%);
	--display-color: hsl(var(--hue), var(--saturation), 0%);

	--button-bg: hsl(var(--hue), var(--saturation), 100%);
	--button-color: hsl(var(--hue), var(--saturation), 0%);

	--clear-bg: var(--button-bg);
	--clear-color: hsl(0, 50%, 50%);

	--operator-bg: hsl(var(--hue), var(--saturation), 75%);
	--operator-color: hsl(var(--hue), var(--saturation), 0%);

	--equals-bg: hsl(var(--hue), var(--saturation), 25%);
	--equals-color: hsl(var(--hue), var(--saturation), 100%);

	/*  */
	--spacing: 0.5rem;
	--rad: 0.75rem;

	/*  */
	--button-size: 50px;
}

html {
	font-size: 16px;
}

body {
	background: var(--bg);
	color: var(--text);

	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}

main {
	display: grid;
	place-items: center;
}

.calculator {
	display: grid;
	grid-template-rows: 60px 1fr;
	gap: calc(var(--spacing) * 2);

	background: var(--calculator_bg);
	border-radius: var(--rad);
	padding: 0.75rem;
	overflow: hidden;

	animation: fade-in 1s ease;
}

.calculator__display {
	background-color: var(--display-bg);
	color: var(--display-color);
	border-radius: var(--rad);
	font-size: 1.5rem;
	padding: 0 1rem;
	display: flex;
	align-items: center;
}

.calculator__body {
	display: grid;
	grid-template-columns: repeat(4, var(--button-size));
	grid-template-rows: repeat(5, var(--button-size));
	gap: var(--spacing);
}

.calculator__button {
	outline: none;
	border: none;
	background-color: var(--button-bg);
	color: var(--button-color);
	border-radius: var(--rad);
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.calculator__button:active {
	transform: scale(0.975);
	filter: brightness(1.25);
}

.clear {
	grid-column: span 2;
	background-color: var(--clear-bg);
	color: var(--clear-color);
}

.operator {
	background-color: var(--operator-bg);
	color: var(--operator-color);
}

.equals {
	background-color: var(--equals-bg);
	color: var(--equals-color);
}

footer {
	text-align: center;
	padding: 1rem;
}

@keyframes fade-in {
	from {
		transform: translateY(-3rem);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
