*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--hue: 200;
	--saturation: 50%;

	/*  */
	--font-family: "Poppins", serif;

	/*  */
	--spacing: 0.5rem;
	--rad: 0.75rem;

	/*  */
	--button-size: 50px;

	/*  */
	--transition-duration: 150ms;
}

[data-theme="light"] {
	--bg: hsl(var(--hue), var(--saturation), 95%);
	--text: hsl(var(--hue), var(--saturation), 0%);

	--link: var(--text);
	--link-visited: hsl(var(--hue), var(--saturation), 50%);

	--calculator_bg: hsl(var(--hue), var(--saturation), 80%);

	--screen-bg: hsl(var(--hue), var(--saturation), 100%);
	--screen-color: hsl(var(--hue), var(--saturation), 0%);

	--button-bg: hsl(var(--hue), var(--saturation), 100%);
	--button-color: hsl(var(--hue), var(--saturation), 0%);
	--button-active-bg: hsl(var(--hue), var(--saturation), 90%);
	--button-active-color: var(--button-color);
}

[data-theme="dark"] {
	--bg: hsl(var(--hue), var(--saturation), 10%);
	--text: hsl(var(--hue), var(--saturation), 100%);

	--link: var(--text);
	--link-visited: hsl(var(--hue), var(--saturation), 80%);

	--calculator_bg: hsl(var(--hue), var(--saturation), 25%);

	--screen-bg: hsl(var(--hue), var(--saturation), 10%);
	--screen-color: hsl(var(--hue), var(--saturation), 100%);

	--button-bg: hsl(var(--hue), var(--saturation), 10%);
	--button-color: hsl(var(--hue), var(--saturation), 100%);
	--button-active-bg: hsl(var(--hue), var(--saturation), 20%);
	--button-active-color: var(--button-color);
}

html {
	font-size: 16px;
}

body {
	font-family: var(--font-family);

	background: var(--bg);
	color: var(--text);

	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}

a {
	color: var(--link);
}

a:visited {
	color: var(--link-visited);
}

button {
	font-family: var(--font-family);
	cursor: pointer;
}

.toggle-theme-button {
	position: fixed;
	top: 1rem;
	right: 1rem;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 100vmax;
	background-color: var(--text);
	color: var(--bg);
}

main {
	display: grid;
	place-items: center;
}

.calculator {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: calc(var(--spacing) * 2);

	background: var(--calculator_bg);
	border-radius: var(--rad);
	padding: 0.75rem;
	overflow: hidden;

	transition-property: background-color;
	animation: fade-in 1s ease;
}

.calculator__screen {
	background-color: var(--screen-bg);
	color: var(--screen-color);
	border-radius: var(--rad);
	padding: 0.5rem 1rem;
	text-align: right;

	transition-property: background-color;
}

.last-operation__display {
	font-size: 0.75rem;
	opacity: 0.5;
	min-height: 2rem;
}

.current-operation__display {
	font-size: 1.75rem;
}

.calculator__body {
	display: grid;
	grid-template-columns: repeat(4, var(--button-size));
	grid-template-rows: repeat(5, var(--button-size));
	gap: var(--spacing);
}

.calculator__button {
	outline: none;
	border: none;
	background-color: var(--button-bg);
	color: var(--button-color);
	border-radius: var(--rad);

	font-size: 1rem;
	font-weight: bold;

	transition-property: transform, background-color, color;
}

.calculator__button:active,
.calculator__button.active {
	transform: scale(0.95);
	background-color: var(--button-active-bg);
	color: var(--button-active-color);
}

.clear {
	--button-color: hsl(0, 50%, 50%);
	--button-active-color: var(--button-color);

	grid-column: span 2;
}

.operator {
	--button-bg: hsl(var(--hue), var(--saturation), 50%);
	--button-color: hsl(var(--hue), var(--saturation), 100%);
	--button-active-bg: hsl(var(--hue), var(--saturation), 60%);
	--button-active-color: var(--button-color);
}

[data-theme="dark"] .operator {
	--button-bg: hsl(var(--hue), var(--saturation), 40%);
	--button-color: hsl(var(--hue), var(--saturation), 100%);
	--button-active-bg: hsl(var(--hue), var(--saturation), 50%);
	--button-active-color: var(--button-color);
}

.equals {
	--button-bg: hsl(var(--hue), var(--saturation), 25%);
	--button-color: hsl(var(--hue), var(--saturation), 100%);
	--button-active-bg: hsl(var(--hue), var(--saturation), 30%);
	--button-active-color: var(--button-color);
}

[data-theme="dark"] .equals {
	--button-bg: hsl(var(--hue), var(--saturation), 100%);
	--button-color: hsl(var(--hue), var(--saturation), 10%);
	--button-active-bg: hsl(var(--hue), var(--saturation), 90%);
	--button-active-color: var(--button-color);
}

footer {
	text-align: center;
	padding: 1rem;
}

@keyframes fade-in {
	from {
		transform: translateY(-3rem);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.calculator,
.calculator__screen {
	transition-duration: var(--transition-duration);
	transition-timing-function: ease-in-out;
}
